PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/devsync
REDIS_URL=redis://localhost:6379
JWT_ACCESS_TOKEN_SECRET=your_access_secret_here
JWT_REFRESH_TOKEN_SECRET=your_refresh_secret_here
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
